<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/diruwccyp/image/upload/v1668860995/retro_cimena.jpg);">
  <div class="container">
    <h1>If you are looking for some <strong>inspiration</strong> check out these <strong>lists</strong>!</h1>
    <p>A collection of my favorites of all times.</p>
    <%= link_to "NEW LIST", new_list_path, class: "btn btn-gradient" %>

  </div>
</div>
